[apply]
	whitespace = fix
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore
	whitespace = space-before-tab,-indent-with-non-tab,trailing-space
	trustctime = false
[credential]
	helper = store
[user]
	name = Christian Rolland
	email = c.rolland@protonmail.com
[diff]
	tool = vimdiff
	colorMoved = zebra
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
[pull]
	rebase = true
[fetch]
	prune = true
[includeIf "hasconfig:remote.*.url:https://code.il2.gamewarden.io/**"]
  path = ~/workspace/.gitconfig-2F
[includeIf "hasconfig:remote.*.url:https://code.fedramp.gamewarden.io/**"]
  path = ~/workspace/.gitconfig-2F
[includeIf "hasconfig:remote.*.url:https://code.secondfront.com/**"]
  path = ~/workspace/.gitconfig-2F
[includeIf "hasconfig:remote.*.url:https://github.com/second-front/**"]
  path = ~/workspace/.gitconfig-2Fgit
[init]
	defaultBranch = main
